name: Publish Docker images

on:
  push:
    paths:
      - src/**/*
      - .github/workflows/publish.yml
      - LICENSE
    branches:
      - main

jobs:
  build-n-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [webserver]
      fail-fast: false
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Log in to the Container registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.9.0
        with:
          images: ghcr.io/Sutaai/${{ matrix.service }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: src/${{ matrix.service }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ghcr.io/Sutaai/${{ matrix.service }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
